.cont{
    display: flex;
    justify-content: center;
}

.container{
    width: 250px;
    height: 315px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 30px 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

}
ul{
    display: flex;
    list-style-type:none;
    justify-content: center;
}
.photo{
    margin: 40px 0 20px 0;
}
.title{
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
}
.download{
    width: 200px;
    height: 25px;
    background-color: gray;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    color: aliceblue;
}
.download2{
    display: flex;
    justify-content: center;
    width: 150px;

}
.buttons1{
    background-color: gray;
    border-radius: 5px;
    padding: 10px 0;
    color: aliceblue;
    width: 80px;
    height: 25px;
}
.buttons2{
    background-color: gray;
    border-radius: 5px;
    padding: 10px 0;
    color: aliceblue;
    width: 80px;
    margin-left: 20px;
    height: 25px;
}
p{
    margin: 0;
    text-align: center;
}
.container:hover{
    border-color: blue;
}
.container:hover .download{
    background-color: blue;
}
.container:hover .title{
    color: blue;
}

.container:hover .buttons1{
    background-color: blue;
}
.container:hover .buttons2{
    background-color: blue;
}

